<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Location Address Contact</h3>
    <button type="button" class="btn btn-danger btn-sm pull-right" (click)="remove()">
      <span class="glyphicon glyphicon-remove"></span>
      <span>Remove Address</span>
    </button>
  </div>

  <div class="panel-body">

    <div class="form-horizontal">
      <div class="row">
        <div class="form-group">
          <label class="col-md-2 control-label" for="search">Search:</label>
          <div class="col-md-9">
            <input placeholder="search for location"
                   autocorrect="off"
                   autocapitalize="off"
                   spellcheck="false"
                   type="text"
                   class="form-control"
                   #search
                   [formControl]="searchControl"
                   id="search">
          </div>
        </div>
      </div>
    </div>

    <div class="row well-sm">
      <div class="col-xs-12">
        <p class="label label-warning">** To place marker manually on the map, user right click over the map.</p>
        <agm-map [latitude]="restaurantAddress?.theLocationPoint?.latitude || 0"
                 [longitude]="restaurantAddress?.theLocationPoint?.longitude || 0"
                 [scrollwheel]="false"
                 [zoom]="zoom"
                 [clickableIcons]="false"
                 (mapRightClick)="placeMarker($event)">

          <agm-marker *ngIf="restaurantAddress && restaurantAddress.theLocationPoint
                            && restaurantAddress.theLocationPoint.latitude && restaurantAddress.theLocationPoint.longitude"
                      [latitude]="restaurantAddress.theLocationPoint.latitude"
                      [longitude]="restaurantAddress.theLocationPoint.longitude">
          </agm-marker>

        </agm-map>
      </div>
    </div>

    <div class="form well-sm">

      <alert-dispay [messages]="error" [isError]="true" (notify)="clearError()"></alert-dispay>
      <alert-dispay [messages]="success" [isError]="false" (notify)="clearSuccess()"></alert-dispay>

      <div class="row">
        <div class="col-md-4">

          <div class="form-group">
            <label for="floor" class="control-label">Floor number</label>
            <input type="number" class="form-control" [(ngModel)]="restaurantAddress.floor"
                   placeholder="floor number" id="floor" />
          </div>

          <div class="form-group">
            <label for="street" class="control-label">Street number</label>
            <input type="text" class="form-control" [(ngModel)]="restaurantAddress.streetNumber"
                   placeholder="street number" id="street" />
          </div>

          <div class="form-group">
            <label for="route" class="control-label">Route name</label>
            <input type="text" class="form-control" [(ngModel)]="restaurantAddress.route"
                   placeholder="street name or route name" id="route" />
          </div>

          <div class="form-group">
            <label for="locality" class="control-label">Locality</label>
            <input type="text" class="form-control" [(ngModel)]="restaurantAddress.locality"
                   placeholder="locality name" id="locality" />
          </div>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="area1" class="control-label">Administrative area 1</label>
            <input type="text" class="form-control"
                   [(ngModel)]="restaurantAddress.administrativeAreaLevel1"
                   placeholder="administative area level 1 name" id="area1" />
          </div>

          <div class="form-group">
            <label for="area2" class="control-label">Administrative are 2</label>
            <input type="text" class="form-control"
                   [(ngModel)]="restaurantAddress.administrativeAreaLevel2"
                   placeholder="administrative area level 2 name" id="area2" />
          </div>

          <div class="form-group">
            <label for="country" class="control-label">Country</label>
            <input type="text" class="form-control" [(ngModel)]="restaurantAddress.country"
                   placeholder="country name" id="country" />
          </div>

          <div class="form-group">
            <label for="postal" class="control-label">Postal Code</label>
            <input type="number" class="form-control" [(ngModel)]="restaurantAddress.zipCode" placeholder="postal code" id="postal" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="link" class="control-label">Google Link</label>
            <input type="url" class="form-control" [(ngModel)]="restaurantAddress.googleLink"
                   placeholder="google maps link" id="googleLink" />
          </div>

          <div class="form-group">
            <label for="latitude" class="control-label">Latitude</label>
            <input type="text" class="form-control"
                   [(ngModel)]="restaurantAddress.theLocationPoint.latitude"
                   placeholder="latitude" id="latitude" />
          </div>

          <div class="form-group">
            <label for="longitude" class="control-label">Longitude</label>
            <input type="text" class="form-control"
                   [(ngModel)]="restaurantAddress.theLocationPoint.longitude"
                   placeholder="longitude" id="longitude" />
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-3 col-xs-3">
          <modify-info-popover [entity]="restaurantAddress"></modify-info-popover>
        </div>
        <div class="col-xs-3">
          <button type="reset" class="btn btn-danger btn-block btn-sm" (click)="getRestaurantAddress()">
            <span class="glyphicon glyphicon-remove"></span>
            <span>Discard</span>
          </button>
        </div>
        <div class="col-xs-3">
          <button type="submit" class="btn btn-success btn-block btn-sm" (click)="save()">
            <span class="glyphicon glyphicon-save">
            </span><span>Save</span>
          </button>
        </div>
      </div>

    </div>
  </div>
</div>