
<alert-dispay [messages]="error" [isError]="true" (notify)="clearError()"></alert-dispay>
<alert-dispay [messages]="success" [isError]="false" (notify)="clearSuccess()"></alert-dispay>


<div class="panel panel-info">
  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Menu Categories</h3>

    <div class="btn-group pull-right">
      <modal-dialog [buttonTitle]="'Add New Item'" [title]="'Add New Item'"
                    (notify)="newClicked($event)">
        <menu-item-editor [isNew]="!hasEditing" [restaurant]="restaurant" [currentItem]="editedItem"
                              (notify)="(!hasEditing && remove($event)) || (hasEditing && onEdit($event))">
        </menu-item-editor>
      </modal-dialog>
    </div>
  </div>

  <div class="panel-body">

    <div class="well" *ngIf="categoryList && categoryList.length != 0">
        <table class="table">
          <tbody>
            <tr>
              <td class="col-xs-2 text-right"><label class="control-label">Choose Category:</label></td>
              <td>
                <select class="form-control" [(ngModel)]="selectedCategoryId">
                  <option *ngFor="let category of categoryList" [attr.value]="category.id">
                    <ng-container *ngFor="let item of category.theCategories">
                      {{item.categoryName}} - 
                    </ng-container>
                  </option>
                </select>
              </td>
              <td class="col-xs-2">
                <button type="button" class="btn btn-primary btn-block" (click)="getItemsOnCategoryChange()">
                  Load items
                </button>
              </td>
            </tr>
          </tbody>
        </table>

      </div>

    <div class="well-sm">

      <div *ngIf="!itemList || itemList.length === 0">
        <h3 class="text text-info">No results available.</h3>
      </div>

      <table class="table table-bordered table-condensed table-hover">

        <thead>
          <tr>
            <th class="col-xs-7">Item Content</th>
            <th class="col-xs-4">Item Price</th>
            <th class="col-xs-1"></th>
          </tr>
        </thead>

        <tbody>

          <ng-container *ngFor="let item of itemList">
            <tr>

              <td>
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th class="col-xs-3">Language Name</th>
                      <th class="col-xs-3">Item Name</th>
                      <th class="col-xs-3">Item Description</th>
                      <th class="col-xs-3">Item Warnings</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let content of item.theContent">
                      <th>{{content.theMenuLanguage.theLanguage.languageName}}</th>
                      <td>{{content.itemName}}</td>
                      <td>{{content.itemDescription}}</td>
                      <td>{{content.itemWarnings}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>

              <td>
                <table class="table table-bordered table-condensed">
                  <thead>
                    <tr>
                      <th class="col-xs-6">Currency Name</th>
                      <th class="col-xs-6">Item Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let value of item.theValue">
                      <th>
                        {{value.theMenuCurrency.theCurrency.currencyFullName}}
                        ({{value.theMenuCurrency.theCurrency.currencySign}})
                      </th>
                      <td class="text-right">{{value.price}}</td>
                    </tr>
                  </tbody>
                </table>
              </td>

              <td>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td><modify-info-popover [entity]="item"></modify-info-popover></td>
                    </tr>
                    <tr>
                      <td>
                        <button type="button" class="btn btn-warning btn-sm btn-block" (click)="editClicked(item)">
                          <span class="glyphicon glyphicon-pencil"></span> <span> Edit </span>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <button type="button" class="btn btn-danger btn-sm btn-block" (click)="removeClicked(item)">
                          <span class="glyphicon glyphicon-remove"></span> <span> Remove </span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>

            </tr>
          </ng-container>

        </tbody>

        <tfoot>
          <tr>
            <td colspan="3">
              <ul class="pager">

                <li class="previous">
                  <button type="button" class="btn btn-primary"
                          [class.disabled]="(pageNumber <= 1)"
                          (click)="(pageNumber <= 1) || getPreviousPage()">
                    Previous
                  </button>
                </li>

                <li>
                  <span *ngIf="itemList && itemList.length !== 0">
                    Page #{{pageNumber}} ( Results from {{(pageNumber - 1) * pageSize + 1}} to {{(pageNumber - 1) * pageSize + itemList.length}} )
                  </span>
                  <span *ngIf="!itemList || itemList.length === 0">
                    Page #{{pageNumber}} ( No results available )
                  </span>
                </li>

                <li class="next">
                  <button type="button" class="btn btn-primary"
                          [class.disabled]="(!itemList || itemList.length !== pageSize)"
                          (click)="(!itemList || itemList.length !== pageSize) || getNextPage()">
                    Next
                  </button>
                </li>
              </ul>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
