<div class="form-horizontal">

  <alert-dispay [messages]="error" [isError]="true" (notify)="clearError()"></alert-dispay>
  <alert-dispay [messages]="success" [isError]="false" (notify)="clearSuccess()"></alert-dispay>

  <div class="form-group">
    <label class="control-label col-xs-4">Search phrase:</label>
    <div class="col-xs-8">
      <input #searchBox (keyup)="search(searchBox.value)" class="form-control" />
    </div>
  </div>

  <p class="alert alert-danger" *ngIf="(employers | async)?.length === 0">
    No results available!
  </p>

  <ul class="list-group" *ngIf="(employers | async)?.length !== 0">
    <li *ngFor="let empl of employers | async" class="list-group-item">
      <button type="button" class="btn btn-sm btn-success"
              (click)="onAddClick(empl)"
              *ngIf="!isTransfer">
        <span class="glyphicon glyphicon-plus"></span> Add Coowner
      </button>

      <button type="button" class="btn btn-warning"
              (click)="onTransferClick(empl)"
              *ngIf="isTransfer">
        <span class="glyphicon glyphicon-transfer"></span> Transfer Ownership
      </button>

      <span class="list-group-item-ellipsis">
        {{empl.theEmployerDetails.personFirstName}}
        {{empl.theEmployerDetails.personMiddleName}}
        {{empl.theEmployerDetails.personLastName}}
      </span>

    </li>
  </ul>

</div>