
<alert-dispay [messages]="error" [isError]="true" (notify)="clearError()"></alert-dispay>
<alert-dispay [messages]="success" [isError]="false" (notify)="clearSuccess()"></alert-dispay>

<div class="panel panel-info">

  <div class="panel-heading clearfix">
    <h3 class="panel-title pull-left">Restaurants</h3>

    <div class="btn-group pull-right">
      <modal-dialog [buttonTitle]="'Add New Restaurant'" [title]="'Add New Restaurant'">
        <restaurant-form [isNew]="true"
                         (notify)="onResultReturn($event)">
        </restaurant-form>
      </modal-dialog>
    </div> 
    
  </div>

  <div class="panel-body">

    <div class="well-sm">
      <div *ngIf="!restaurants || restaurants.length === 0">
        <h3 class="text text-info">No results available.</h3>
      </div>

      <table-view [columnNames]="['Name', 'Description']"
                  [properties]="['name','description']"
                  [hasInfo]="true"
                  [hasEdit]="true"
                  [hasRemove]="false"
                  [data]="restaurants"
                  [pageNumber]="pageNumber"
                  [pageSize]="pageSize"
                  (editClick)="onClick($event)"
                  (previousClick)="getPreviousPage()"
                  (nextClick)="getNextPage()">
      </table-view>
    </div>
  </div>

</div>
