<div class="form">

  <alert-dispay [messages]="error" [isError]="true" (notify)="clearError()"></alert-dispay>
  <alert-dispay [messages]="success" [isError]="false" (notify)="clearSuccess()"></alert-dispay>

  <input type="hidden" [value]="restaurant.Id" *ngIf="!isNew" />

  <div class="form-group">
    <label class="control-label">Restaurant's name:</label>
    <div>
      <input [(ngModel)]="restaurant.name"
             class="form-control"
             placeholder="name" />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Restaurant's description:</label>
    <div>
      <textarea rows="5"
                [(ngModel)]="restaurant.description"
                class="form-control"
                placeholder="Some description">
      </textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-3" [class.col-xs-offset-3]="!isNew" *ngIf="!isNew">
      <modify-info-popover [entity]="restaurant"></modify-info-popover>
    </div>
    <div class=" col-xs-3" *ngIf="!isNew">
      <button class=" btn btn-danger btn-block"
              (click)="getOriginal()">
       <span class="glyphicon glyphicon-remove"></span>
       <span> Discard </span>
      </button>
    </div>
    <div class="col-xs-3" [class.col-xs-offset-9]="isNew">
      <button class=" btn btn-success btn-block"
              (click)="save()">
        <span class="glyphicon glyphicon-save"></span>
        <span> Save </span>
      </button>
    </div>
  </div>

</div>